<div class="container">

  <div class="banner" style="background-image: url('https://images.unsplash.com/photo-1440404653325-ab127d49abc1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80')">
      <h1>My lists</h1>
      <button class="create-link"><%= link_to 'Create a list', new_list_path %></button>
  </div>

  <div class="row">
      <% @lists.each do |list| %>
          <div class="category-card" style="background-image: url('https://images.unsplash.com/photo-1485846234645-a62644f84728?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=859&q=80')">
            <h2><%= link_to list.name, list_path(list) %></h2>
            <p><%= link_to 'Create a bookmark', new_list_bookmark_path(list) %></p>
          </div>
      <% end %>
   </div>


  </div>
